body {
  margin: 0;
  background-repeat: no-repeat;
  color: white;
  /* background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); */
  background-color: black;
}
.heading{
  color: white;
  /* display: flex; */
  text-align: center;
  justify-content: center;
  font-size: 5rem;
  font-family:cursive;
  margin-top: 30px;
}

.newhome {
  display: flex;
  flex-direction: column;
  background-color: black;
  position: relative;
  padding-top: 15px;
}

.earth {
  height: 50vh;
}

.parent {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

.child1 {
  width: 50%;
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 100px;
}

.child2 {
  width: 50%;
  height: 100vh;
}

.patient {
  z-index: 10;
  color: aliceblue;
  margin-left: 23px;
  height: 40%;
  padding: 5px 45px 0px 45px;
  border: 2px solid rgb(40, 34, 34);
  border-radius: 10px;
  background: rgba(49, 119, 196, 0.05);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
}

.doctor {
  z-index: 10;
  color: aliceblue;
  margin-left: 50px;
  height: 40%;
  padding: 5px 45px 0px 45px;
  border: 2px solid rgb(40, 34, 34);
  border-radius: 10px;
  /* background: rgba(255, 255, 255, 0.71); */
  background: rgba(49, 119, 196, 0.05);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border-radius: 10px;
}
.stars {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
}
.btn {
  width: 7rem;
  height: 2rem;
  border-radius: 5px;
  margin-left: 12px;
  background-color: rgb(34, 34, 158);
  color: antiquewhite;
}

.btn:hover {
  background-color: rgb(18, 18, 71);
  cursor: pointer;
  color: aliceblue;
}


.parent-firm {
  margin-top: 23px;
  display: flex;
  flex-direction: row;

}

.child1-firm {
  width: 50%;
  margin-left: 14rem;
}

.child2-firm {
  margin-top: 20px;
  margin-right: 60px;
  width: 50%;
}


.parent-home {
  margin-top: 23px;
  display: flex;
  flex-direction: row;
}

.child1-home {
  width: 60%;
  margin-left: 10rem;
}

.child2-home {
  margin-top: 100px;
  margin-right: 80px;
  width: 40%;
}

#text{
  color: white;
}
#text-label{
  color: white;
  top: -15px;
  left: -15px;
}
#text1{
  color: white;
  margin-top: 5px;
  border: 3px solid white;
}
#text1-label{
  color: white;
  top: -5px;
  left: -15px;

}
#text2{
  color: white;
  border: 3px solid white;
}

#text2-label{
  color: white;
  
}